@page
@model Portfolio.Pages.Projects.ContactModel
@{
}
<h4>Contact form</h4>

<form action="/update" method="post">
    <label for="fName">First Name</label>
    <input type="text" name="fName" />
    <button type="submit">Save</button>
</form>
